body{
    
    background-color: rgb(250, 250, 142) !important;
    padding: 50px;
}

h1{
    color: brown;
}

/*INDEX*/
.lider{
    height: 150px;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: inherit;
}

/*CATS*/
.container.cats{
    width: 90%;
    background-color: beige;
    position: relative;
}
.tarjetas{
    background-color: white;
    width: 20%;
    padding: 0.5%;
    margin: 2%;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}
img.cat{
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 10px;    
}
.cats-texto{
    margin-top: 10px;
    padding-left: 15px;
}
.cats h2{
    margin: 0;
}
.cats p{
    margin: 0;
}
.description{
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;

}
.botones{
    text-align: center;
}
.btn{
    width: 200px;
    height: 30px;
    margin: 5px;
    border: 0px;
    background-color: white;
}

.bola{
    background-color: #01DFA5;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    position: absolute;
}


/*SELECCION CLASES*/
.titulo{
    color: #3b83bd ;
    font-size: 30px;
    
}

.texto{
    font-size: 16px;
    color: #000080;
}

.destacado{
    font-style: oblique;
    font-weight: bold;
}




/*POSICIONAMIENTO*/

.cuadrado{
    background-color: salmon;
    width: 500px;
    height: 250px;
    text-align: center;
    position: relative;
}

.text{
    padding: 20%;
}

.bolas{
    width: 80px;
    height: 80px;
    border: salmon 5px solid;
    background-color: beige;
    border-radius: 80px;
    position: absolute;
}

.bolas.uno{
    right: -30px;
    top: -30px;

}


.bolas.dos{
    left: -30px;
    top: -30px;

}

.bolas.tres{
    left: -30px;
    bottom: -30px;

}

.bolas.cuatro{
    right: -30px;
    bottom: -30px;

}



.container.dosco{

    background-color: beige;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul{
    background-color: lightblue;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}

.blanco{
    background-color: white;
    width: 150px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

p.lorem{
    padding: 15%;
    position: absolute;
    z-index: 10;
    font-family: sans-serif;
}


/*MANOS*/
.container.manos{

    background-color: rgb(235, 235, 161);
    width: 1200px;
    height: 600px;
}


.mano{
    font-size: 100px;
    margin: 5px;
    padding: 20px;
}


.mano.izq{
    background-color: black;
    color:white;
}

.mano.der{
    background-color: red;
    color:white;
}

.mano.aba{
    background-color: green;
    color:white;
}

.mano.arr{
    background-color: blue;
    color:white;

}

.container.manos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1{
    display: flex;
    flex-direction: column;
    
}
.row2{
    
    display: flex;
    flex-direction: column;
    
}

/*MINAS*/
.minas{
    display: flex;

}
.mina{
    width: 70px;
    height: 70px;
    background-color: grey;  
    margin: 5px; 
}
.muerte{
    display: flex;
    align-items: center;
    justify-content: center;
}
i.bomb{
    font-size: 50px;
    display: none;
}

.seguro:hover{
    background-color: green;
}

.muerte:hover{
    background-color: red;
    
}

div.muerte:hover i{
    display: inline-block;
}

/*PSEUDOELEMENTOS*/
.pseudo{
    width: 500px;
}

.pseudo p::first-line{
    font-family: 'Oldenburg', cursive;
    color: indianred;
}

.pseudo p::first-letter{
    font-size: 3em;
}
