body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(130, 124, 228);
}

 h1.fnt-red {
    color: red;
 }

 .fnt-blue {
    color: blue;
}

.menu{
    list-style: none;
    text-align: center;
    height: 40px;
    background-color: pink;
}
.menu li{
    display: inline-block;
    position: relative;
    margin: 10px;
}

.bloque{
    position: relative;
    
}

#rectangulo{
    position: relative; 
    width: 50%;
    left: 25%;
    height: 200px;
    background-color: rgb(146, 28, 28);

}

#rectangulo p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 10%;
}

.bola{
    position: absolute;
    background-color: white;
    border: 10px solid red ;
    height: 60px;
    width: 60px;
    border-radius: 60px;
}

.bola.uno{
    left:-30px;
    top:-30px;
}
.bola.dos{
    right:-30px;
    top:-30px;
}
.bola.tres{
    left:-30px;
    bottom:-30px;
}
.bola.cuatro{
    right:-30px;
    bottom:-30px;
}


footer{
    margin-top: 350px;
    height: 40px;
    width: auto;
    text-align: center;
    background-color: orange;
}