.container{
    margin: 100px;
}

.margin{
    margin: 10px 0px;
}

.btn_registrar{
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px;
    background-color: white;
}

.btn_registrar:hover{
    background-color: rgb(99, 189, 189);
}