body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(185, 182, 238);
}

.bloque{
    background-color: white;
    border:1px solid black;
    height: 200px;
    width: 500px;
    margin: 25%;
    border-radius: 15px;
    text-align: center;
}

.azul{
    background: rgb(51, 210, 216);
    position: relative;
    border-radius: 15px;
    height: 200px;
    width: 500px;
}

.blanco{
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 0;
    left: 0;
    position: absolute;
    height: 200px;
    width: 250px;
    z-index: 0;
}

.azul p{
    position: absolute;
    z-index: 10;
}