body{
    margin: 25px 50px;
    
}

.slider{
    height: 400px;
}

.articulos{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.card{
    width: 80%;
    height: 300px;
}
.card-text{
    color: red;
    font-size: 24px;
}
.card-text-blue{
    color: blue;
    font-size: 24px;
}
#card2{
    float: right;
}